@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  background-color: #fff;
  padding: 20px 60px 40px 40px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left-side {
  width: 25%;
  height: 100%;
  position: relative;
}

.container .content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  background-color: #afafb6;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.container .content .left-side .details {
  margin: 14px;
  text-align: center;
}

.container .content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 15px;
}

.container .content .left-side .details .text-one,
.container .content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container .content .left-side .details .topics {
  font-size: 18px;
  font-weight: 600;
}

.container .content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}

.container .content .right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.container .content .right-side .input-box input,
.container .content .right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #f0f1f8;
  padding: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  resize: none;
}

.container .content .right-side .message-box {
  min-height: 110px;
  margin-top: 6px;
}

.container .content .right-side .button input[type="submit"] {
  color: #fff;
  background-color: #3e2093;
  padding: 10px 20px;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.container .content .right-side .button input[type="submit"]:hover {
  background-color: #5029bc;
}
